<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel="stylesheet"/>        

    </head>

    <body>
        <div class="row" style="margin-top: 50px; ">
            <div class="mx-auto">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Usuário/senha inválidos!</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">Usuário desconectado!</div>
                </div>

                <div class="card">
                    <h5 class="card-header">Login</h5>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label>Usuário<input class="form-control" type="text"
                                                     name="username" placeholder="Usuário"/></label>
                            </div>

                            <div class="form-group">
                                <label>Senha<input class="form-control"
                                                   type="password" name="password" placeholder="Senha"/></label>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Logar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <a class="nav-link" href="/cliente/cadastro">Cadastrar-se</a>
            </div>
        </div>
    </body>
</html>
